.index {
  display: flex;
  flex-direction: column;
}
.scroll {
  max-width: 100%;
  height: 100%;
}
.scrollBody {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 50px;
  border-radius: 60px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
}


.page-container {
  display: flex;
  flex-direction: row;
}

.left-content {
  flex: 1;
  /* 左边内容样式 */
  display: flex;
  justify-content: left; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  overflow: hidden; // 防止文字溢出
}

.left-content.text {
  max-lines: 2;
  max-width: 90%;
  white-space: pre-wrap;
  //white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.right-content {
  flex: 1;
  //background-color: blueviolet;
  /* 右边内容样式 */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip; // 防止图像溢出
  //伪元素
  &::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%; // 使高度等于宽度，从而形成一个完整的圆形
  }
}

.right-image {
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  background-color: blueviolet;
  width: 90%;
  overflow: clip;
  height: 90%; // 这确保了图像将填满其父容器
  border-radius: 50%; // 使其成为圆形
  border: 2px solid black; // 黑色边框
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.34); // 阴影效果
  transition: box-shadow 0.3s ease; // 过渡效果
}

.right-image.disabled {
  background-color: red;
  filter: grayscale(100%);
  box-shadow: 0px 14px 18px rgba(0, 0, 0, 0.1); // Adjusted shadow for "pressed" effect
}

.canvas {
  position: absolute; //通过向左增大实际宽度的50%,使左右两边腾出100%的边距,再放大到200%,也就是把lottie的宽度增大一倍
  left: -50%;
  width: 200%; /* 设置 lottie 容器的宽度 */
  height: 100%;
  //padding-bottom: 30%; /* 设置 lottie 容器的高度，根据宽度得到的一个比例,虽然我是看不懂这是什么鬼操作 */
  box-sizing: content-box;
  object-fit: fill; // 确保图片按照纵横比来填充
}
